header {
    background-color: #282c34;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Solway', serif;
    text-transform: uppercase;
    color: white;
    padding: 15px;
    cursor: pointer;
}
