@import url('https://fonts.googleapis.com/css?family=Solway:700&display=swap');

.App {
    text-align: center;
    font-family: 'Solway', serif;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
}

.movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 20px;
    justify-content: space-evenly;
}
